.icon-button {
  background: none;
  border: none;
  color: inherit;
}

.c-link {
  cursor: pointer;
} 

.start-page-wrap {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #CCC;
  text-align: center;
}
.left-panel {
  position: relative;
  min-height: 100vh;
}

.button-group {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.no-border {
  border-radius: 0 !important;
}

.right-panel {
  position: relative;
}

.CodeMirror-scroll {
  height: 600px !important;
}

.sync-status {
  position: absolute;
  bottom: 12px;
  left: 10px;
  font-size: 12px;
  color: #959694;
}
